* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(200, 227, 223);
    box-sizing: border-box;
}

nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: 20px;
}

.nav_logo {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.nav_logo div {
    color: #FFA732;
}

#logo {
    height: 80px;
    width: 80px;
}

.nav_link {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    width: 60%;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.menu_akun a {
    display: flex;
    margin: 10px 0;
}

.content {
    padding: 0 200px;
    font-family: tahoma;
    display: flex;
    justify-content: space-between;
}

.content div {
    width: 500px;
}

.text h2 {
    padding: 20px 0;
}

.text ul {
    list-style: none;
}

.content img {
    height: 300px;
    width: 300px;
}

footer {
    position: fixed;
    bottom: 0;
}

.copyright {
    background-color: #EF4040;
	width: 100%;
    text-align: center;
    padding: 15px 0;
}

.copyright div {
    background-color: #EF4040;
}